/data
/dataPractica

14_YOLO/*.pt
14_YOLO/runs/
14_YOLO/datasets/
13_UNET/mini/

15_Mask_RCNN/data
15_Mask_RCNN/cells jr/
15_Mask_RCNN/cells_jr.zip

16_SAM/runs/

18_Practica2/BuddhaDalmatian-5/
18_Practica2/runs/
18_Practica2/dataAux/
18_Practica2/mat_extracted_txt/